div.container
	div.row.with-three-columns
		- i = 3
			while i--
				div.column
					div.card
						div.card-header
							p Card Header
						div.card-body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nulla quas fuga atque, tempore minima corporis numquam sed placeat. Eveniet quis unde assumenda vel dolorem maxime labore dolorum velit consequatur!
						div.card-footer.is-aligned-right
							button.button.button-default No
							button.button.button-default Yes