footer.footer.footer-default
	div.container.is-fullwidth
		div.row.with-two-columns
			div.column.is-aligned-left
				p 2017 &copy; GridOTG - All rights reserved.
			div.column.is-aligned-right
				p Created by <a href="#">Lucas Henrique</a>

script(src="js/script.min.js")