div#test-modal.modal(data-script="Modal")
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt consectetur aliquam incidunt necessitatibus et beatae, itaque quis illo commodi sint! Amet unde similique modi, nesciunt voluptatibus minus ratione. Eveniet, nesciunt?

button.button(data-modal="test-modal") Teste

button.button(data-modal="test-test") Teste 2