div.modal
	div.modal-wrapper
		div.modal-header
			a.modal-close(href="#")
				span.bar
				span.bar
			h1 Modal Header
		div.modal-body
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, placeat odit sed pariatur! Magni, enim autem exercitationem sunt, nam aperiam ut. Est quam deserunt, adipisci quo distinctio culpa repellendus numquam.
		div.modal-footer.is-aligned-right
			a.button.button-error(href="#") No
			a.button.button-success(href="#") Yes