div#modal-announcement.modal.modal-default(data-script="Modal")
	div.modal-content
		div.modal-header
			h1 Modal annoucement

			a.modal-close(href="#" data-modal="modal-annoucement")
				span.bar
				span.bar

		div.modal-body
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut assumenda ullam, autem possimus? Sint voluptatibus mollitia quibusdam, culpa neque ducimus voluptas totam animi obcaecati velit aspernatur optio. Assumenda, sapiente, enim?

		div.modal-footer
			button Dispose

button.modal-open(data-modal="modal-announcement") Teste