nav#default-navbar.navbar.navbar-default.navbar-fixed-top(data-script="Navbar")
	div.navbar-open(data-navbar="default-navbar")
		span.bar
		span.bar
		span.bar

	div.navbar-items.with-three-columns.has-uppercase-text
		div.is-aligned-left
			ul
				li: a(href="#" rel="bookmark" title="GridOTG") GridOTG

		div.is-aligned-center
			ul
				li.dropdown
					a(href="#" rel="bookmark" title="Documentation") Docs
					ul
						li: a(href="#" rel="bookmark" title="Items") Items
						li: a(href="#" rel="bookmark" title="Modal") Modal
				li: a(href="#" rel="bookmark" title="News") News
				li: a(href="#" rel="bookmark" title="Contribute") Contribute
				

		div.is-aligned-right
			ul
				li: a(href="#" target="_blank" rel="noopener" title="Github") Github
				li: a(href="#" target="_blank" rel="noopener" title="Codepen") Codepen
				li: a(href="#" target="self" rel="bookmark" title="Download") Download