nav.nav.nav-default.nav-fixed-top.with-three-columns
	a.nav-open(href="javascript:void(0)" rel="bookmark" title="Open menu")
		span.bar
		span.bar
		span.bar

	div.nav-items.nav-left
		a(href="#" title="" rel="bookmark") Gridotg

	div.nav-items.nav-center
		a(href="#" title="Home" rel="bookmark") Home
		a(href="#" title="Demo" rel="bookmark") Demo
		a(href="#" title="Contact" rel="bookmark") Contact

	div.nav-items.nav-right
		a(href="#" title="Github" rel="noopener" target="_blank") Github
		a(href="#" title="Download" rel="noopener" target="_blank") Download