div.container
	div.row.with-four-columns

		- i = 4
			while i--
				
				div.column
					div.panel.panel-default
						div.panel-header
							h1 Panel heading

						div.panel-body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit minima perspiciatis aperiam, necessitatibus reprehenderit, consequuntur, id dolores sequi enim facilis rem ullam! Repellendus aut, eum nihil cumque velit veniam eveniet.

						div.panel-footer.is-aligned-right
							button.button.button-success Accept