div.container
	div.row.with-two-columns
		div.column

			div.table-responsive
				table.table.table-default
					thead.table-heading
						tr
							td Order
							td Book name
							td Price
							td In stock
					tbody.table-body
						- i = 10
							while i--
								tr
									td= '#' + i
									td Lorem ipsum set dolor sit amet
									td= '$ ' + i + 7.5 
									td Yes

		div.column
			div.table-responsive
				table.table.table-default
					thead.table-heading
						tr
							td Order
							td Book name
							td Price
							td In stock
					tbody.table-body
						- i = 10
							while i--
								tr
									td= '#' + i
									td Lorem ipsum set dolor sit amet
									td= '$ ' + i + 7.5 
									td Yes