.card {
	background: $white;
	border: 1px solid $gray;

	.card-header {
		background: inherit;
		border-bottom: 1px solid $gray;
		padding: 15px;
	}

	.card-body {
		background: inherit;
		padding: 15px;
	}

	.card-footer {
		background: $gray;
		padding: 15px;
	}
}