/************************************
	FOOTER
************************************/
.footer {
	@include size(100%, auto);
	position: relative;

	&.footer-default {
		background: #F1F1F1;
		padding: 15px;
	}

	&.footer-fixed-bottom {
		position: fixed;
		bottom: 0;
	}
}

/************************************
	RESPONSIVE
************************************/
@media only screen and (max-width: $small) {
	// Completely optional
	.footer {
		p {
			text-align: center;
		}
	}
}