/************************************
	NAVBAR
************************************/
.navbar {
	display: grid;
	position: relative;

	// Helper classes
	&.navbar-fixed-top {
		@include element-position(fixed, 0, initial, initial, 0);
		z-index: 20;
	}

	&.navbar-default {
		@include element-size(100%, 60px);
		@include padding-direction('x', 15px);
		background: $white;
		border-bottom: 1px solid $gray;

		.navbar-items {
			ul {
				li {
					a {
						color: $black;
					}
				}
			}
		}
	}

	// Child class
	.navbar-open {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);

		span {
			display: block;
			width: 25px;
			height: 1px;
			background: $black;

			&:not(:last-child) {
				margin-bottom: 7px;
			}

			&:nth-child(2) {
				width: 20px;
			}
		}
	}

	.navbar-items {
		display: grid;
		align-self: center;

		div {
			ul {
				padding: 0;

				li {
					display: inline-block;
					list-style-type: none;
					position: relative;

					a {
						padding: 21px;
					}

					&.dropdown {
						padding-right: 10px;

						&::after {
							@include arrow-direction('bottom', 5px, $sea-blue);
							content: "";
							position: absolute;
							right: 10px;
							top: 5px;
						}

						ul {
							@include element-size(100%, auto);
							position: absolute;
							box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
							margin-top: 21px;
							display: none;

							li {
								display: block;

								a {
									@include padding-direction('x', 0);
									display: block;
									background: $white;

									&:hover {
										background: $gray;
									}
								}
							}
						}

						&:hover {
							&::after {
								transform: rotate(180deg);
							}

							ul {
								display: block;
							}
						}
					}
				}
			}

			&:first-child {
				a {
					padding-left: 0;
				}
			}

			&:last-child {
				a {
					padding-right: 0;
				}
			}
		}
	}
}

/************************************
	RESPONSIVE
************************************/
@media only screen and (max-width: $large) {
	.navbar {
		
		&.navbar-default {
			padding: 0;

			.navbar-items {
				display: block;

				div {
					&:not(:first-child) {
						display: none;
					}

					&:first-child {
						ul {
							li {
								padding: 20px 15px;
							}
						}
					}
					
					ul {
						margin: 0;

						li {
							display: block;
							padding: 15px 0;
							text-align: left;

							&.dropdown {
								&::after {
									margin-top: 15px;
								}

								ul {
									margin-top: 15px;
									z-index: 1;

									li {
										padding-left: 25px;

										a {
											background: transparent;
											padding: 0;
										}
									}
								}

								&:hover {
									background: $light-gray;
									height: 150px;
								}
							}
						}
					}
				}
			}
		}
	}
}