/************************************
	PANEL
************************************/
.panel {
	@include size(100%, auto);
	position: relative;

	&.panel-default {
		border: 1px solid $gray;
		border-radius: 3px;
	}

	.panel-header {
		border-bottom: 1px solid $gray;
		padding: 15px;
	}

	.panel-body {
		padding: 15px;
	}

	.panel-footer {
		background: $light-gray;
		padding: 15px;
	}
}

/************************************
	RESPONSIVE
************************************/