/************************************
	VARIABLES
************************************/
$toast-colors: (
	'default': $gray $black,
	'success': $green $white,
	'warning': $yellow $white,
	'error': $red $white
);

/************************************
	TOAST
************************************/
.toast {
	@include size(350px, auto);
	@include element-position(fixed, initial, 15px, 15px, initial);
	border-radius: 3px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
	padding: 15px;
	transform: scale(0);
	z-index: 30;

	.toast-close {
		@include size(20px, 20px);
		padding-top: 10px;
		padding-left: 3px;
		position: absolute;
		top: 5px;
		right: 5px;

		.bar {
			@include size(15px, 1px);
			background: $black;
			display: block;

			&:nth-child(1) {
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				transform: rotate(-45deg);
				margin-top: -1px;
			}
		}
	}

	&.active {
		transform: scale(1);
	}

	// Default colors
	@each $toast, $color in $toast-colors {
		&.toast-#{$toast} {
			background: nth($color, 1);
			color: nth($color, 2);

			.toast-close {
				.bar {
					background: nth($color, 2);
				}
			}
		}
	}
}

/************************************
	RESPONSIVE
************************************/
@media only screen and (max-width: $small) {
	.toast {
		@include size(calc(100% - 30px), auto);
	}
}