/************************************
	NO GAP
************************************/
.no-gap {
	grid-column-gap: 0;
}

/************************************
	NAVBAR BODY PADDING
************************************/
.has-navbar-gap {
	padding-top: 60px;
}

/************************************
	NO PADDINGS
************************************/
.no-padding {
	padding: 0;
}

.no-padding-x {
	padding-top: 0;
	padding-bottom: 0; 
}

.no-padding-y {
	padding-left: 0;
	padding-right: 0;
}

/************************************
	ALIGNMENTS
************************************/
.is-aligned-right {
	text-align: right;
}

.is-aligned-left {
	text-align: left;
}

.is-aligned-center {
	text-align: center;
}

.is-display-inline {
	display: inline-block;
}

.is-display-block {
	display: block;
}

/************************************
	TEXT TRANSFORMATIONS
************************************/
.has-uppercase-text {
	text-transform: uppercase;
}

.has-lowercase-text {
	text-transform: lowercase;
}

.has-capitalized-text {
	text-transform: capitalize;
}

/************************************
	TABLE RESPONSIVE
************************************/
.table-responsive {
	overflow-x: auto;
}

/************************************
	ARROWS
************************************/
.arrow-up {
	@include arrow-direction('top', 5px, $sea-blue);
}

.arrow-right {
	@include arrow-direction('right', 5px, $sea-blue);
}

.arrow-down {
	@include arrow-direction('bottom', 5px, $sea-blue);
}

.arrow-left {
	@include arrow-direction('left', 5px, $sea-blue);
}