:root {
	box-sizing: border-box;
	cursor: default;
	text-size-adjust: 100%;

	*, ::before, &::after {
		box-sizing: inherit;
		font-family: sans-serif;
		outline: 0;
	}

	body {
		margin: 0;

		a {
			text-decoration: none;
		}

		p {
			margin: 0;
			padding: 0;
		}

		@for $i from 0 through 6 {
			h#{$i} {
				margin: 0;
				padding: 0;
			}
		}

		input, textarea, select {
			font-size: 1em;
		}
	}
}