/************************************
	COLORS
************************************/
$black: #000;
$white: #fff;

$lighter-gray: #fafafa;
$light-gray: #f6f6f6;
$base-gray: #f1f1f1;
$gray: #e9e9e9;

$red: #ef5350;
$dark-red: #f44336;

$green: #66bb6a;
$dark-green: #4caf50;

$yellow: #ffca28;
$dark-yellow: #ffc107;

$sea-blue: #66a6ff;

/************************************
	SCREENS
************************************/
$extra-small: 320px;
$small: 480px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;