/************************************
	COLORS
************************************/
$black: #000;
$white: #FFF;

$light-gray: #F6F6F6;
$gray: #E9E9E9;

$red: #EF5350;
$dark-red: #F44336;

$green: #66BB6A;
$dark-green: #4CAF50;

$yellow: #FFCA28;
$dark-yellow: #FFC107;

$sea-blue: #66A6FF;

/************************************
	SCREENS
************************************/
$extra-small: 320px;
$small: 480px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;