/************************************
	VARIABLES
************************************/
$buttons: (
	'default': $light-gray $gray $black,
	'success': $green $dark-green $white,
	'warning': $yellow $dark-yellow $white,
	'error': $red $dark-red $white 
);

/************************************
	BUTTON
************************************/
.button {
	border: none;
	border-radius: 3px;
	cursor: pointer;
	padding: 10px 20px;
	position: relative;

	@each $button, $color in $buttons {
		&.button-#{$button} {
			background: nth($color, 1);
			border: 1px solid nth($color, 2);
			color: nth($color, 3);
			font-size: 0.85em;

			&:hover {
				background: nth($color, 2);
			}
		}
	}
}