.table {
	@include size(100%, auto);
	border-collapse: collapse;

	&.table-default {
		.table-heading {
			background: $light-gray;
			border: 1px solid $gray;

			td {
				padding: 10px;
			}
		}

		.table-body {
			tr {
				border: 1px solid $gray;

				&:nth-child(odd) {
					background: $lighter-gray;
				}

				td {
					padding: 10px;
				}
			}
		}
	}
}