/************************************
	VARIABLES
************************************/
$row-grids: (
	'one-column'			: 	auto,
	'two-columns'			: 	auto auto,
	'three-columns'		: 	auto auto auto,
	'four-columns'		: 	auto auto auto auto,
	'five-columns'		: 	auto auto auto auto auto,
	'six-columns'			: 	auto auto auto auto auto auto,
	'seven-columns'		: 	auto auto auto auto auto auto auto,
	'eight-columns'		: 	auto auto auto auto auto auto auto auto,
	'nine-columns'		: 	auto auto auto auto auto auto auto auto auto,
	'ten-columns'			: 	auto auto auto auto auto auto auto auto auto auto,
	'eleven-columns'	: 	auto auto auto auto auto auto auto auto auto auto auto,
	'twelve-columns'	: 	auto auto auto auto auto auto auto auto auto auto auto auto
);

$column-grids: (
	'1': calc(1120px / 12),
	'2': calc(1120px / 6),
	'3': calc(1120px / 4),
	'4': calc(1120px / 3),
	'5': calc(1120px / 2.4),
	'6': calc(1120px / 2),
	'7': calc(1120px / 1.71429),
	'8': calc(1120px / 1.5),
	'9': calc(1120px / 1.33333),
	'10': calc(1120px / 1.2),
	'11': calc(1120px / 1.09091),
	'12': calc(1120px / 1)
);

/************************************
	GRIDS
************************************/
.container {
	@include size(calc(1120px + 30px), auto);
	@include table-center;

	&.is-fullwidth {
		width: 100%;
	}

	.row {
		display: grid;
		grid-column-gap: 15px;

		@each $grid, $size in $row-grids {
			&.with-#{$grid} {
				grid-template-columns: #{$size};
			}
		}

		.column {
			@each $grid, $size in $column-grids {
				&.is-#{$grid} {
					width: $size;
				}
			}
		}
	}
}

/************************************
	RESPONSIVE
************************************/
@media only screen and (max-width: $large) {
	.container {
		&:not(.is-fullwidth) {
			width: 100%;
		}
	}
}

@media only screen and (max-width: $small) {
	.container {
		.row {
			@each $grid, $size in $row-grids {
				&[class*="with"] {
					grid-template-columns: auto;
				}
			}
		}
	}
}