.container {
	@include size(calc(1120px + 30px), auto);
	@include table-center;

	&.is-fullwidth {
		width: 100%;
	}

	.row {
		display: grid;
		grid-column-gap: 15px;

		@each $grid, $size in $row-grids {
			&.with-#{$grid} {
				grid-template-columns: #{$size};
			}
		}

		.column {
			@each $grid, $size in $column-grids {
				&.is-#{$grid} {
					width: $size;
				}
			}
		}
	}
}

@media only screen and (max-width: $large) {
	.container {
		&:not(.is-fullwidth) {
			width: 100%;
		}
	}
}

@media only screen and (max-width: $small) {
	.container {
		.row {
			@each $grid, $size in $row-grids {
				&[class*="with"] {
					grid-template-columns: auto;
				}
			}
		}
	}
}